<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<!--th:object refers to the mapped th:field(s) of this template-->
<form th:action="@{/form}" th:object="${user}" method="post">
    <div>
        <label for="country">Country</label>
        <div>
            <select id="country" th:field="*{country}">
                <option value="">Select a country</option>
                <option th:each="country: ${countries}"
                        th:text="${country.name}" th:value="${country.id}"></option>
            </select>
        </div>
        <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
    </div>
    <div>
        <label for="oid">Other ID</label>
        <div>
            <input type="text" id="oid" th:field="*{oid}">
        </div>
        <div th:if="${#fields.hasErrors('oid')}" th:errors="*{oid}"></div>
    </div>
    <div>
        <label for="name">Name</label>
        <div>
            <input type="text" id="name" th:field="*{name}">
        </div>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div>
        <label for="surname">Surname</label>
        <div>
            <input type="text" id="surname" th:field="*{surname}">
        </div>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
    </div>
    <div>
        <label for="username">Username</label>
        <div>
            <input type="text" id="username" th:field="*{username}">
        </div>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <div>
            <input type="password" id="password" th:field="*{password}">
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div>
        <label for="email">Email</label>
        <div>
            <input type="email" id="email" th:field="*{email}">
        </div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
        <label for="account">Account</label>
        <div>
            <input type="number" id="account" th:field="*{account}">
        </div>
        <div th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div>
    </div>
    <div>
        <label for="birthDate">Birth Date</label>
        <div>
            <input type="date" id="birthDate" th:field="*{birthDate}" placeholder="yyyy/MM/dd">
        </div>
        <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>

</form>
</body>
</html>