<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<!--th:object refers to the mapped th:field(s) of this template-->
<div class="container">
    <h1 class="h1">Thymeleaf + Spring form</h1>
    <form th:action="@{/form}" th:object="${user}" method="post">
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="enabled">Enabled</label>
            <div class="row col-sm-4">
                <input class="form-control col-sm-1" type="checkbox" id="enabled" th:field="*{enabled}">
            </div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2">Gender</label>
            <div class="row col-sm-2" th:each="gen: ${genders}">
                <input class="form-control col-sm-2" type="radio" th:field="*{gender}" th:value="${gen}">
                <label class="col-form-label col-sm-2" th:for="${#ids.prev('gender')}"
                       th:text="${gen}">Masculine</label>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="country">Country</label>
            <div class="col-sm-4">
                <select class="form-control" id="country" th:field="*{country}">
                    <option value="">Select a country</option>
                    <option th:each="country: ${countries}"
                            th:text="${country.name}" th:value="${country.id}"></option>
                </select>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2">Roles</label>
            <div class="row col-sm-2" th:each="role: ${roles}">
                <input class="form-control col-sm-2" type="checkbox" th:field="*{roles}" th:value="${role.id}"
                       th:checked="${#lists.contains(user.roles, role)}">
                <!--#ids.prev returns the previous generated role-->
                <label class="col-form-label col-sm-2" th:for="${#ids.prev('roles')}" th:text="${role.name}"></label>
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="oid">Other ID</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="oid" th:field="*{oid}">
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('oid')}" th:errors="*{oid}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="name">Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="name" th:field="*{name}">
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="surname">Surname</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="surname" th:field="*{surname}">
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="username">Username</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="username" th:field="*{username}">
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="password">Password</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" id="password" th:field="*{password}">
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="email">Email</label>
            <div class="col-sm-4">
                <input class="form-control" type="email" id="email" th:field="*{email}">
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="account">Account</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" id="account" th:field="*{account}">
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div>
        </div>
        <div class="form-group row my-3">
            <label class="col-form-label col-sm-2" for="birthDate">Birth Date</label>
            <div class="col-sm-4">
                <input class="form-control" type="date" id="birthDate" th:field="*{birthDate}" placeholder="yyyy/MM/dd">
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
        </div>
        <div class="form-group row my-3">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>

        <input type="hidden" th:field="*{secretValue}">

    </form>
</div>
</body>
</html>